@font-face {
  font-family: 'Fox';
  src: url('Fonts/FoxAndBower.otf') format('opentype');
}

@font-face {
  font-family: 'Sonora';
  src: url('Fonts/Sonorous-Rough.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5) 0%,     /* Less opaque dark red */
    rgba(255, 255, 255, 0.5) 5%,     /* Less opaque dark red */
    rgba(18, 18, 18, 0.5) 25%,   /* Less opaque dark gray */
    rgba(18, 18, 18, 0.5) 50%,   /* Less opaque dark gray */
    rgba(18, 18, 18, 0.5) 75%,   /* Less opaque dark gray */
    rgba(255, 255, 255, 0.5) 95%,    /* Less opaque dark red */
    rgba(255, 255, 255, 0.5) 100%    /* Less opaque dark red */
  );
  background-color: #121212;
  color: #e0e0e0; /* Light text color */
}

/* Styling for the App container */
.App {
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: 'Fox', sans-serif;
}