@font-face {
    font-family: 'Fox';
    src: url('Fonts/FoxAndBower.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Sonora';
    src: url('Fonts/Sonorous-Rough.otf') format('opentype');
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .roomBuilder {
    background: linear-gradient(to top, #1e1e1e, #121212);
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding-block: 3vh;
    padding-inline: 3vw;
    max-width: 800px;
    width: 100%;
    text-align: center;
    height: 100%;
  }

  .roomBuilder button {
    font-family: 'Fox', sans-serif;
    color: #ffffff;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: .5s;


    background-color: #6d0000;
  }

  .roomBuilder button:hover {
    transform: scale(1.05);
  }

  .roomBuilder input {
    font-family: 'Sonora', sans-serif;
    width: 80%;
    padding: 1rem;
    margin: 1rem 0;
    border: 2px solid #333;
    border-radius: 4px;
    background-color: #333;
    font-size: 1rem;
    color: #fff;
  }
  
  .roomBuilder input::placeholder {
    color: #bbb;
  }

  .roomBuilder .disclaimer {
    color: #bbb;
    font-size: .7rem;
    margin-block: 1rem;
  }

  .roomBuilder .create-room-button {
    margin-block: 1rem;
  }


  .character-selection {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }
  
  .selected-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #fff;
  }
  
  .icon-carousel {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .carousel-icon {
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .carousel-icon.active {
    transform: scale(1.2);
  }
  